extends layout

block content
  h1 Contacts  us

  p Welcome to our Contacts Page. Here, you can find the necessary contact information to reach out to us. Whether you have questions about our programs, require assistance, or want to provide feedback, we're here to help.

  h2 Contact Information

  ul
    li Email: info@yourorganization.com
    li Phone: +255-682-123-4567 
    li Address: 1234 Street, Dar es Salaam, Tanzania

  p Feel free to contact us anytime during our office hours. We look forward to hearing from you and assisting you in any way we can.
