html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Module Registration
    link(rel='stylesheet', href='/css/styles.css')

  body
    img(src='/images/std.jpg', alt='logo')
    h1 MODULE REGISTRATION SYSTEM
    br
    div
      a(href="/login") Login
      | 
      a(href="/about") About Us
      | 
      a(href="/contacts") Contacts
      | 
      a(href="http://localhost:8080/") Home
      
    block content 
      // Content goes here

    footer
      p Registration @2024
